.container {
  max-width: 1200px;
  margin: 25px auto;
  min-height: 100vh;
  position: relative;
}

.container-time {
  padding: 0 10px;
  margin: 50px auto;
  width: 750px;
  height: 300px;
  display: flex;
  background-color: blanchedalmond;
  border: 30px solid burlywood;
  border-radius: 100px;
  position: relative;
  z-index: 2;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 120px;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 10px 10px 25px gray;
}

.container-time::after {
  content: '';
  position: absolute;
  width: 388px;
  height: 70px;
  bottom: -100px;
  left: 186px;
  z-index: 1;
  background-color: darkgoldenrod;
  box-shadow: 5px 10px 15px grey;;
}

.block-first {
  color: darkblue;
}

.block-second {
  color: blue;
}

.block-first,
.block-second {
  /* margin-right: 45px; */
  width: 230px;
  position: relative;
}

.block-third {
  width: 230px;
  color: cornflowerblue;
}

.block-first::after,
.block-second::after {
 content: ':';
 position: absolute;
 width: 30px;
 height: 70px;
}

#type-time {
  display: none;
  position: absolute;
  z-index: 11;
  right: -52px;
  top: 207px;
  background-color: blanchedalmond;
  border: 3px solid burlywood;
  width: 300px;
  height: 50px;
  border-radius: 5px;
}


.setting {
  position: absolute;
  right: 243px;
  top: 193px;
  z-index: 10;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container-date {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  position: relative;
  z-index: 3;
  bottom: 141px;
  font-size: 44px;
  color: darkslateblue;
}
