* {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.input-username {
  width: 500px;
  padding: 5px;
  background-color: palegreen;
  border: 1px solid green;
  border-radius: 3px;
}

.btn-submit {
  display: inline-block;
  margin-left: 5px;
  padding: 5px;
  background-color: beige;
  border: 1px solid burlywood;
  border-radius: 3px;
  cursor: pointer;
}

.list-username {
  list-style: none;
}

.username-span {
  display: inline-block;
  width: 400px;
}

.btn-edit {
  display: inline-block;
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: darkseagreen;
  border: 1px solid green;
  border-radius: 3px;
  cursor: pointer;
}

.btn-delete {
  background-color: darksalmon;
  padding: 5px;
  border: 1px solid red;
  border-radius: 3px;
  cursor: pointer;
}
